/ClothingSystem.AppWeb/nbproject/private/
/ClothingSystem.AccesoADatos/nbproject/private/
/ClothingSystem.EntidadesDeNegocio/nbproject/private/
/ClothingSystem.AccesoADatos/build/
/ClothingSystem.EntidadesDeNegocio/build/
/ClothingSystem.EntidadesDeNegocio/dist/
/ClothingSystem.AccesoADatos/dist/
/ClothingSystem.AppWeb/build/
/ClothingSystem.AppDesktop/nbproject/private/
