
body {
    background-image: url(https://images.pexels.com/photos/2835436/pexels-photo-2835436.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.formulario {
    background: rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: white;
}


.ingresar {
    background: #222A3F;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    transition: 0.5s ease-in;
}

.ingresar:hover {
    color: white;
}

