
/*        para el efecto*/
.hoverable a:hover {
    background-color: #fff;
    color: black;
}

.hoverable1 a:hover {
    background-color: #01579b ;
    color: #fff;
    
    
}

.hoverable2 a:hover {
    background-color: red;
    color : #fff;


}
.banner{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-out;
    background-image: url(https://fondosmil.com/fondo/62009.jpg);
    animation: banner 28s infinite linear;
}
.banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}
.banner-content a{
    text-decoration: none;
    color: #FFF;
    padding: 9px 20px;
    border: 1px solid #FFF;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.banner-content a:hover{
    background-color: #fff;
    color: #333;
}
@keyframes banner{
    0%{
        background-image: url(https://fondosmil.com/fondo/62160.jpg);
    }
    25%{
        background-image: url(https://fondosmil.com/fondo/62160.jpg);
    }


    26%{
        background-image: url(https://fondosmil.com/fondo/62009.jpg);
    }
    50%{
        background-image: url(https://fondosmil.com/fondo/62009.jpg);
    }


    51%{
        background-image: url(https://fondosmil.com/fondo/62126.jpg);
    }
    75%{
        background-image: url(https://fondosmil.com/fondo/62126.jpg);
    }


    76%{
        background-image: url(https://fondosmil.com/fondo/62090.jpg);
    }
    100%{
        background-image: url(https://fondosmil.com/fondo/62090.jpg);
    }

}


/*Estilo del efecto del botón flotante*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}



/*Efecto de las tarjetas slider*/

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
